#krsp_file_upload {
  button.button {
    transition: background .2s ease;
    &:hover {
      background: darken($buttoncolor, 6%);
    }
    &:disabled {
      background: #aaa;
    }
    &.is-full {
      width: 100%;
    }
  }
}