.queued-image {
  .image-progress {
    width: 100%;
    position: relative;
    height: 10px;
    background: #eee;
    border-radius: 10px;
    margin: 0 auto;
    .progress-bar {
      transition: width 0.1s ease, background-color 0.05s ease;
      height: 10px;
      border-radius: 10px; // background-color: #9ce09c;
      width: 0%;
    }
  }
  .image-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    .image-src,
    .image-name,
    .image-action {
      float: left;
    }
    .image-src {
      width: 10%;
      background: #eee;
      width: 30px;
      height: 30px;
      position: relative; // border-radius: 100%;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .image-name {
      text-align: left;
      text-overflow: elipsis;
      width: 80%;
      padding-left: 10px;
      padding-top: 3px;
      p {
        margin: 0;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.uploading {
          color: #aaa;
        }
      }
    }
  }
}